//not to be used by libraries

//@import "bootstrap-sprockets";
@import "settings";
$include-html-classes: false;
$include-print-styles: false;
$include-js-meta-styles: false; // Warning! Meta styles are a dependancy of the Javascript.
$include-html-global-classes: false;
$include-html-grid-classes: false;
/* grid start  */
@import "foundation/components/grid";
/* grid end empty */
@import "flexbox";
@import "mixins";