// = require normalize
// = require _foundation_custom
@import "includes";
@import "webicons";


//default classes
.default-row{
    @include grid-row();
}

.inner-wrapper-full{
    @include grid-column(12);
}


/* ie9 fix for svg */
.ie9 img[src*=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%; 
  }
}
/* end IE9 fix for svg */

body {
    //padding-top: 50px;
    //padding-bottom: 20px;
    //height:100%;
    position: relative;
}

//background canvas
#bg-canvas{
position:fixed; 
top:0;
left:0;
z-index: -1000;

  @include body_bg;

}


//navbar
#top-nav-cont{
    border-bottom: 1px solid rgba(0,0,0,0.6);
}

.top-bar{
    //text-shadow: none; //kinda choppy with it on
    //@include hw_accelerate; //fix choppiness

}

.navbar-header{
    //
}

.title-area{
    //padding-left: $column-gutter/2;
}

.header-logo{
    //display:block;
    //margin-top: 10px;
    //margin-left: 15px;
    //margin-right: 15px;
    .logo{
        //width: 30px;
        
        /*
        #tag_group {
            fill: #2A2F38;
        }
        */
    }
}


//HOME:
//
//home header

.jumbotron{
    //@include grid-row();
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=) #222;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  margin-bottom: 2rem;
  //padding-bottom:10px;
  //&::before{ 
      //position:absolute;
      //bottom:0;
      //@include triangle(bottom,white,10px); 
  //}
  
  .header-container{
      
      padding: 1em 0;
      .header-inner{
          //@include grid-column(12);
      }
      //@include grid-column(12);
  }
}

//home about

.home-about-list{
    
    h2{
        text-align: center;
    }
}

.home-about-item{
    //@include make-md-column(4);
    //padding: 1em 0;
    @include grid-column(12);
    
    
    .heading-icon{ //assumed to be svg
        height:170px;
    }
}
/*
.twitter-section{
    text-align: center;
    padding: 0 $column-gutter/2;
}
*/

.footer-divider{
    border: 1px dashed rgba(136,136,136,0.5);
}

.footer-cont{
    
    .footer-wrapper{
        //@include grid-column(12);
    }
}

//tablet and up
@media #{$medium-up} {
    .home-about-item{
      @include grid-column(4);
    }
}
