@import "includes";
@import "webicons";

body {
    //padding-top: 50px;
    //padding-bottom: 20px;
    //height:100%;
    position: relative;
}

.navbar{
    //text-shadow: none; //kinda choppy with it on
    //@include hw_accelerate; //fix choppiness
}

.navbar-header{
    //
}

.header-logo{
    //display:block;
    //margin-top: 10px;
    //margin-left: 15px;
    //margin-right: 15px;
    .logo{
        //width: 30px;
        
        /*
        #tag_group {
            fill: #2A2F38;
        }
        */
    }
}

/* ie9 fix for svg */
.ie9 img[src*=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%; 
  }
}

/* end IE9 fix for svg */



.jumbotron{
    //@include grid-row();
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=) #222;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  //padding-bottom:10px;
  //&::before{ 
      //position:absolute;
      //bottom:0;
      //@include triangle(bottom,white,10px); 
  //}
  
  .header-container{
      @include grid-row();
      padding: 1em 0;
      //@include grid-column(12);
  }
}

#bg-canvas{
position:fixed; 
top:0;
left:0;
z-index: -1000;
/* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=) #222; */
   /* background: url('<%= image_path('bg.jpg'); %>') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-about-list{
    h2{
        text-align: center;
    }
}

.home-about-item{
    //@include make-md-column(4);
    @include grid-column(4);
    .heading-icon{ //assumed to be svg
        height:170px;
    }
}
