@import "bootstrap/mixins";
@import "flexbox";
@import "mixins";

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-header{
    //
}

.header-logo{
    display:block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    .logo{
        width: 30px;
        
        /*
        #tag_group {
            fill: #2A2F38;
        }
        */
    }
}

/* ie9 fix */
.ie9 img[src*=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%; 
  }
}