@import "bootstrap/mixins";

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-brand{
    .logo{
        width: 30px;
        
        #tag_group {
            fill: #2A2F38;
        }
    }
}

.ie9 img[src*=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%; 
  }
}