---
title: About This Site - Andrew Chen's Website
page_id: about
---
<section id="about-site">
    <div class="about-wrapper default-row">
        <div class="inner-wrapper-full">
          <header><h1>About this site:</h1></header>
          <p>This site is built with <a href="https://middlemanapp.com/">Middleman</a> static site generator together with front-end goodies managed by <a href="http://bower.io/">Bower</a>.</p>
        </div>
    </div>
</section>
    <section class="about-list default-row">
        <div class="about-item">
          <h2><img src="<%=image_path 'about/svg_logo.svg' %>" class="heading-icon" alt="SVG"></h2>
          <p>All icons from this site are Scalable Vector Graphics (SVG) based so that they look crisp in all screen sizes and densities. Nowadays SVG is <a href="http://caniuse.com/svg">widely supported</a> and it should be the default choice for icons. </p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="about-item">
          <h2><img src="<%=image_path 'beethoven-circle.svg' %>" class="heading-icon" alt="No old IE"></h2>
          <p>I am also an avid classical music listener. My interest of classical music started after the music appreciation class in college. I listen to classical music from the Baroque period all the way to the Romantic period. I like particularly musical compositions by Bach and Beethoven. One of the reasons I like classical music is because it is natural music played by natural instruments. </p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
       </div>
        <div class="about-item">
          <h2><img src="<%=image_path 'circle-chef-hat.svg' %>" class="heading-icon" alt="No Adobe Flash"></h2>
          <p>Besides classical music, I also enjoy cooking special foods especially oven baked ones with natural ingredients. I make yeast leavened bread&#127838; and pastries such as flan, lemon meringue pie, apple pie, and others. I just like homemade food with natural ingredients. </p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
      </section>

    <section id="about-credit" class="default-row">
        <header><h1>Credits:</h1></header>
        (creative commons)
    </section>