---
title: About - Andrew Chen's Website
page_id: about
---
<section id="about-site">
    <div class="about-wrapper default-row">
        <div class="inner-wrapper-full">
          <header><h1>About this site:</h1></header>
          <p>About page coming soon...</p>(svg) (no old ie) (no flash)
          (creative commons)
        </div>
    </div>
</section>
<section id="about-me">
    
</section>