---
title: Andrew Chen's Website
---

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <!--<video preload="auto" loop="loop" class="blk-video" autoplay="autoplay" poster="/images/nyc_traffic.jpg" id="bgvid">
              <source src="//s3.amazonaws.com/andrewtheguy/videos/nyc_traffic.mp4" type="video/mp4">
              <source src="//s3.amazonaws.com/andrewtheguy/videos/nyc_traffic.webm" type="video/webm">
          </video>-->
        <h1>Hello, I am <strong>Andrew Chen</strong>!</h1>
        <p>Ninja coder, classical music lover, special food maker.</p>
        <p><!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>-->
        <a class="webicon twitter" href="#">Twitter</a>
        <a class="webicon googleplus" href="#">Google+</a>
        <a class="webicon linkedin" href="#">LinkedIn</a>
        <a class="webicon reddit" href="#">Reddit</a>
        <a class="webicon stackoverflow" href="#">Stack Overflow</a>
        </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><img src="<%=image_path 'code-heading.svg' %>" class="heading-icon" alt="Ninja Coder"></h2>
          <p>Coder ipsum, donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2><img src="<%=image_path 'audio.svg' %>" class="heading-icon" alt="Classical Music Lover"></h2>
          <p>Beethoven ipsum, donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2><img src="<%=image_path 'cooking-pan.svg' %>" class="heading-icon" alt="Special Food Maker"></h2>
          <p>Chef ipsum, donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <a class="twitter-timeline" href="https://twitter.com/andrewchen5678" data-widget-id="635836045154631681">Tweets by @andrewchen5678</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Andrew Chen 2015</p>
      </footer>
    </div> <!-- /container --> 