---
title: Home - Andrew Chen's Website
page_id: home
---
    <section class="jumbotron">
      <div class="header-container default-row">
          <div class="header-inner inner-wrapper-full">
          <!--<video preload="auto" loop="loop" class="blk-video" autoplay="autoplay" poster="/images/nyc_traffic.jpg" id="bgvid">
              <source src="//s3.amazonaws.com/andrewtheguy/videos/nyc_traffic.mp4" type="video/mp4">
              <source src="//s3.amazonaws.com/andrewtheguy/videos/nyc_traffic.webm" type="video/webm">
          </video>-->
        <h1>Hello, I am <strong>Andrew Chen</strong>!</h1>
        <p>Passionate coder, classical music lover, special food maker.</p>
        <p><!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>-->
        <a class="webicon twitter" href="https://twitter.com/andrewchen5678" rel="external">Twitter</a>
        <a class="webicon googleplus" href="https://plus.google.com/+AndrewChen5678" rel="external">Google+</a>
        <a class="webicon linkedin" href="https://www.linkedin.com/pub/jianchao-chen/13/562/75" rel="external">LinkedIn</a>
        <a class="webicon github" href="https://github.com/andrewchen5678" rel="external">GitHub</a>
        <a class="webicon stackoverflow" href="http://stackoverflow.com/users/2822056/andrew-chen" rel="external">Stack Overflow</a>
        </p>
          </div>
      </div>
    </section>

    <section class="about-list default-row">
        <div class="about-item">
          <h2><img src="<%=image_path 'code-heading.svg' %>" class="heading-icon" alt="Ninja Coder"></h2>
          <p>My years of programming with open-source technology have taking me along the lines of learning Java in college, to PHP as a CMS hacker with the LAMP stack and now to Ruby and Rails and Responsive Front-End Web Development. I am also a Linux enthusiast and I like to set up Linux for servers and hacking Linux to make it work as well. </p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="about-item">
          <h2><img src="<%=image_path 'beethoven-circle.svg' %>" class="heading-icon" alt="Classical Music Lover"></h2>
          <p>I am also an avid classical music listener. My interest of classical music started after the music appreciation class in college. I listen to classical music from the Baroque period all the way to the Romantic period. I like particularly musical compositions by Bach and Beethoven. One of the reasons I like classical music is because it is natural music played by natural instruments. </p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
       </div>
        <div class="about-item">
          <h2><img src="<%=image_path 'circle-chef-hat.svg' %>" class="heading-icon" alt="Special Food Maker"></h2>
          <p>Besides classical music, I also enjoy cooking special foods especially oven baked ones with natural ingredients<span class="delicious"></span>. I make yeast leavened bread<span class="bread"></span> and pastries such as flan<span class="custard"></span>, lemon meringue pie, apple pie, and others. I just love homemade food with natural ingredients. </p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
      </section>
      <!--<div class="twitter-section">
          
            <a class="twitter-timeline" href="https://twitter.com/andrewchen5678" data-widget-id="635836045154631681">Tweets by @andrewchen5678</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
      </div>--><!-- twitter widget kinda sucks when comes to customization, and I don't want to spin up a backend api to make my own widget -->
<!-- considering using https://github.com/jasonmayes/Twitter-Post-Fetcher as a workaround -->
    
    <% content_for :page_scripts do %>
    <% end %>